
project_id = "selkrzzcwbyyawcuwlpa"

[api]
enabled = true
port = 54321
schemas = ["public", "storage"]
extra_search_path = ["public", "extensions"]
max_rows = 1000

[db]
port = 54322
shadow_port = 54320
major_version = 15

[db.pooler]
enabled = false
port = 54329
pool_mode = "transaction"
default_pool_size = 15
max_client_conn = 100

[realtime]
enabled = true

[storage]
enabled = true

[inbucket]
enabled = true
port = 54324

[studio]
enabled = true
port = 54323
api_url = "http://localhost"

[functions]
enabled = true
port = 54325

[[functions.function]]
name = "emergency-service"
verify_jwt = true
